parameters:
    level: max
    paths:
        - src

    excludePaths:
        analyseAndScan:
            - src/Resources/*
    
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - identifier: missingType.iterableValue
